@import "variables";

@media only screen and (min-width: $desktop) {
  .header-container {
    .languages-container {
      padding-left: 20px;
      margin-right: 1em;
      max-width: none;

      .country-item {
        display: flex;
        align-items: center;
        width: 100%;

        .languageSelector {
          width: 20px;
          margin-right: 0.5rem;
          background-size: 10px;
          vertical-align: middle;
        }

        .selected-language-name {
          font-size: 100%;
        }
      }
    }
  }

  .logo__img {
    width: 130px;
    position: absolute;
    top: 50px;
    left: 61px;
  }

}



.header-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .header-logo {
    // Añade estilos para el logo aquí
  }

  .header-navigation {
    .nav-list {
      list-style: none;
      display: flex;
      gap: 20px;

      .nav-item {
        color: #333;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #0056b3; // o cualquier color corporativo
        }
      }
    }
  }

  .languages-container {
    // Añade estilos para el selector de idiomas aquí
  }

  .header-actions {
    display: flex;
    gap: 10px;

    .login-button,
    .quote-button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        // Sombra o cambio de color al pasar el mouse
      }
    }

    .quote-button {
      background-color: #d9534f; // color rojo del botón de la imagen
      color: white;

      &:hover {
        background-color: darken(#d9534f, 10%);
      }
    }
  }
}

// Responde a los cambios de tamaño para dispositivos móviles
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;

    .header-actions {
      order: 3;
      margin-top: 10px;
    }
  }
}