<!-- Layout principal -->
<section [class.layout-container]="containerClass$ | async">
  <!-- Header -->
  <appNeo-header *ngIf="showHeaderComponent$ | async"></appNeo-header>

  <div class="grid-container separator-container">
    <!-- menu -->
    <appNeo-menu *ngIf="showMenuComponent$ | async"></appNeo-menu>

    <!-- Router -->
    <section class="container-router">
      <router-outlet></router-outlet>
    </section>
  </div>
</section>

<!-- Toast global -->
<p-toast
  position="top-center"
  [breakpoints]="{ '920px': { width: '80%' } }"
></p-toast>

<!-- Interceptor -->
<appNeo-spinner [interceptor]="inProgress"></appNeo-spinner>
