@import "variables";

::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0 !important;
  white-space: pre-line !important;
}

// Styles Mobile
.layout-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  position: relative;

  .grid-container {
    display: flex;
    height: calc(100vh - $header);

    .container-router {
      width: 100%;
      box-sizing: border-box;
      flex-grow: 1;
    }
  }
}

// Styles Desktop
@media only screen and (min-width: $desktop) {
  .layout-container {
    .separator-container {
      padding: 0;
    }

    .grid-container {
      column-gap: 40px;

      .container-router {
        overflow-x: hidden;
      }
    }
  }
}
