// Primary
$brand: #0d59d1;
$white: #ffffff;
$black: #000000;

// Secondary
$accentA: #9037f7;
$accentB: #a2f9e3;
$accentC: #fad023;
$accentD: #3096fc;
$accentE: #199185;
$accentF: #074742;
$accentG: #00409e;
$accentH: #4b0ea0;
$pastelA: #e9d7fd;
$pastelD: #d6eafe;

// Success
$success: #43c276;

// Errors
$error: #f95f5f;

$green1: #d1e9e7;
$lightblue1: #a0d0eb;

// Grays
$contentA: #2e2c36;
$contentB: #6a696e;
$contentC: #c1c5cc;
$contentD: #eceef1;
$contentE: #f7f8fa;
$darkGray1: #d6d6d6;
$darkGray2: #323341;
$darkGray3: #47495e;
$darkGray4: #686a7d;

$lightAlert: #fff2e5;
$alert: #ffa553;

// Dividers
$line: #0d59d1;
$block: #0d59d1;

//Background colors
$background-gray: #f7f8fa;
$background-dark: #262733;
