@import "variables";

.menu-container {
  width: 200px;
  background-color: lightcoral;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .logoutContainer {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btnLogout {
      border-radius: 5px;
      width: 80%;
      padding: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        margin-left: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

// Styles Desktop
@media only screen and (min-width: $desktop) {
}
